[Unit]
Description=Mise à jour système (bootc, firmware, flatpak système)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/system-update.sh
